/*global*/
*, ::after, ::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #212529;
  font-family: "Archivo";
}

a {
  text-decoration: none;
  color: #212529;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.--transition {
  transition: all 0.4s ease-out 0s;
}

.--upper {
  text-transform: uppercase;
}

.--info {
  font-size: 12px;
}

.--font--bold {
  font-weight: bold;
}

.--font--style--master {
  font-family: "Shippori Mincho B1" !important;
}

.--font--style--information {
  font-family: "Archivo";
}

.--font--line--height {
  line-height: 1.5rem;
}

.--sample {
  font-size: 12px;
  color: rgb(39, 127, 241);
}

.--font--blue {
  color: rgb(0, 102, 255);
}

.--strike {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}

.--underline {
  text-decoration: underline;
}

.--line--black {
  border-bottom: 1px solid rgba(108, 117, 125, 0.5137254902);
}

.--line--black--all {
  border-bottom: 1px solid rgba(108, 117, 125, 0.5137254902);
  border-top: 1px solid rgba(108, 117, 125, 0.5137254902);
}

.--line--black--top {
  border-top: 1px solid rgba(108, 117, 125, 0.5137254902);
}

.--line--black--top--fade {
  border-top: 1px solid rgba(108, 117, 125, 0.2470588235);
}

.--margin--top {
  margin: 25px 0px;
}

.--margin--left {
  margin: 0px 15px;
}

.--fade {
  opacity: 60%;
}

/*header*/
.head--nav {
  background: transparent;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(108, 117, 125, 0.5137254902);
  display: grid;
  grid-template-columns: 1fr 4fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "empty1 logo menuu empty2";
  position: fixed;
  z-index: 10;
}
.head--nav .--nav--logo {
  grid-area: logo;
  height: 100%;
  font-weight: bold;
  font-size: 24px !important;
}
.head--nav .--nav--logo span {
  grid-area: logo;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head--nav .--check--ham {
  display: none;
}
.head--nav .--check--label {
  cursor: pointer;
  display: none;
}
.head--nav .--nav--menu {
  grid-area: menuu;
  height: 100%;
  position: relative;
}
.head--nav .--nav--menu ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr;
  grid-template-rows: 100%;
  grid-template-areas: "home about por blog contact fire";
  position: relative;
}
.head--nav .--nav--menu ul li {
  border-left: 1px solid rgba(108, 117, 125, 0.5137254902);
  text-align: center;
  position: relative;
  transition: 0.5s;
  height: 100%;
}
.head--nav .--nav--menu ul li:hover {
  background-color: #00e61f;
  transition: 0.5s;
}
.head--nav .--nav--menu ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.head--nav .--nav--menu ul li a span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head--nav .--nav--menu ul .--btn--bottom1 {
  grid-area: home;
}
.head--nav .--nav--menu ul .--btn--bottom2 {
  grid-area: about;
}
.head--nav .--nav--menu ul .--btn--bottom3 {
  grid-area: por;
}
.head--nav .--nav--menu ul .--btn--bottom4 {
  grid-area: blog;
}
.head--nav .--nav--menu ul .--btn--bottom4 .--link4--dropdown {
  position: absolute;
  display: none;
  background: #01FF56;
  width: 150%;
  height: 200%;
  transition: 0.3s;
  padding-top: 20px;
  transform-origin: 0 0;
}
.head--nav .--nav--menu ul .--btn--bottom4 .--link4--dropdown a {
  text-align: left;
  display: block;
  height: 35%;
  padding-left: 10px;
  transition: 0.5s;
}
.head--nav .--nav--menu ul .--btn--bottom4 .--link4--dropdown a:hover {
  transform: translate(2%, 0%);
  transition: 0.5s;
}
.head--nav .--nav--menu ul .--btn--bottom4:hover .--link4--dropdown {
  display: block;
}
.head--nav .--nav--menu ul .--btn--bottom5 {
  grid-area: contact;
}
.head--nav .--nav--menu ul .--btn--bottom6 {
  grid-area: fire;
}
.head--nav .--nav--menu ul .--btn--bottom6 a span {
  text-decoration: underline;
}

.scroll--condition {
  background-color: #01FF56;
  transition: 1s;
}

@media (max-width: 768px) {
  /*header*/
  .head--nav .--check--ham:checked ~ .--nav--menu {
    right: 0;
    transition: 1s;
  }
  .head--nav .--nav--menu {
    width: 40% !important;
    display: block;
    right: -100%;
    height: 91.25% !important;
    background-color: rgba(108, 117, 125, 0.5137254902) !important;
    position: fixed;
    bottom: 0;
    transition: 1s;
  }
  .head--nav .--nav--menu .--menu--btn {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .head--nav .--nav--menu .--menu--btn li a span {
    color: #212529 !important;
  }
  .head--nav .--nav--menu .--menu--btn .--btn--bottom4 .--link4--dropdown {
    width: 70%;
    background-color: #00e61f;
    position: relative;
    left: -70%;
    top: -100%;
    border-left: 0.2px solid black;
    border-bottom: 0.2px solid black;
    border-top: 0.2px solid black;
  }
  .head--nav .scroll--nav--condition {
    background-color: #01FF56 !important;
    transition: 1s;
    border-left: 0.2px solid black;
  }
}
/*hero*/
.hero {
  width: 100%;
  height: 350px;
  background-color: #5AFF80;
  position: relative;
  overflow: hidden;
}
.hero .hero--text {
  position: absolute;
  left: 10%;
  top: 60%;
  transform: translate(0%, -50%);
  z-index: 5;
}
.hero .hero--text h2 {
  font-size: 5rem;
}
.hero .hero--image {
  background: #01FF56;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(20%, -50%);
  z-index: 0;
  transition: 0.4s;
  border-radius: 50%;
}

/*main*/
.main {
  width: 100%;
  height: 3600px;
  background-color: #fff;
  position: relative;
}
.main .main--master {
  width: 75%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 65% 5% 30%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas: "empty1 empty2 empty3" "left  empty4 right" "empty5 empty6 empty7";
}
.main .main--master .--master--left {
  grid-area: left;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 10fr) 1fr;
  grid-template-areas: "post1" "post2" "post3" "post4" "post5" "movee";
  grid-gap: 40px;
}
.main .main--master .--master--left .--left--post {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 35%;
  grid-template-areas: "image" "info";
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 60px 40px -7px;
  border-radius: 2px;
}
.main .main--master .--master--left .--left--post .--post--image {
  grid-area: image;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.main .main--master .--master--left .--left--post .--post--image a {
  position: absolute;
  top: 85%;
  left: 5%;
  display: block;
  z-index: 10;
  width: 100px;
  height: 100px;
  background-color: #5AFF80;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.main .main--master .--master--left .--left--post .--post--image a:hover {
  background: transparent;
  color: #5AFF80;
}
.main .main--master .--master--left .--left--post .--post--info {
  grid-area: info;
  position: relative;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.75rem;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text h2 {
  margin-top: 30px;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text h2, .main .main--master .--master--left .--left--post .--post--info .--info--text p {
  margin-bottom: 20px;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text a:hover {
  color: #5AFF80;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text .--info--link {
  font-size: 14px;
}
.main .main--master .--master--left .--left--post .--post--info .--info--text .--info--link .--border::after {
  content: "";
  border-left: 1px solid black;
  line-height: 2rem;
  margin: 0px 15px;
}
.main .main--master .--master--left .--post1 {
  grid-area: post1;
}
.main .main--master .--master--left .--post1 .--post--image {
  background: url(../image/blog/blog/master/blog1.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--left .--post2 {
  grid-area: post2;
}
.main .main--master .--master--left .--post2 .--post--image {
  background: url(../image/blog/blog/master/blog2.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--left .--post3 {
  grid-area: post3;
}
.main .main--master .--master--left .--post3 .--post--image {
  background: url(../image/blog/blog/master/blog3.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--left .--post4 {
  grid-area: post4;
}
.main .main--master .--master--left .--post4 .--post--image {
  background: url(../image/blog/blog/master/blog4.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--left .--post5 {
  grid-area: post5;
}
.main .main--master .--master--left .--post5 .--post--image {
  background: url(../image/blog/blog/master/blog5.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--left .--left--movepage {
  grid-area: movee;
  position: relative;
  width: 100%;
  height: 100%;
}
.main .main--master .--master--left .--left--movepage .--movepage {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "pre -1- -2- ne";
  grid-gap: 5px;
}
.main .main--master .--master--left .--left--movepage .--movepage a {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(108, 117, 125, 0.5137254902);
  font-size: 14px;
}
.main .main--master .--master--left .--left--movepage .--movepage a:hover {
  color: #5AFF80;
}
.main .main--master .--master--right {
  grid-area: right;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 15% 14% 8% 10% 8% 40%;
  grid-template-areas: "search" "category" "recent" "tag" "instagram" "newsletter" "empty";
  grid-gap: 20px;
}
.main .main--master .--master--right .--search {
  grid-area: search;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 35% 30% 35%;
  grid-template-areas: "empty1 empty2" "in     search" "empty3 empty4";
}
.main .main--master .--master--right .--search input {
  grid-area: in;
  background: #fff;
  border: 1px solid rgba(108, 117, 125, 0.2470588235);
  padding: 10px;
}
.main .main--master .--master--right .--search a {
  grid-area: search;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  background: #5AFF80;
  color: #fff;
  padding: 15px 0px;
  text-align: center;
}
.main .main--master .--master--right .--category {
  grid-area: category;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(6, 15%);
}
.main .main--master .--master--right .--category h3 {
  padding: 10px 0px;
}
.main .main--master .--master--right .--category div {
  padding: 20px 0px;
}
.main .main--master .--master--right .--category a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main--master .--master--right .--category a:hover {
  color: #5AFF80;
}
.main .main--master .--master--right .--recent--post {
  grid-area: recent;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% 6% repeat(4, 20%) 2%;
}
.main .main--master .--master--right .--recent--post h3 {
  margin-top: 20px;
}
.main .main--master .--master--right .--recent--post a:hover {
  color: #5AFF80;
}
.main .main--master .--master--right .--recent--post .--post {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  padding: 10px 0px;
}
.main .main--master .--master--right .--recent--post .--post .--post--text {
  padding: 5px 10px;
}
.main .main--master .--master--right .--recent--post .--number1 .--post--image {
  background: url(../image/blog/blog/rightBar/post/post_1.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--recent--post .--number2 .--post--image {
  background: url(../image/blog/blog/rightBar/post/post_2.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--recent--post .--number3 .--post--image {
  background: url(../image/blog/blog/rightBar/post/post_3.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--recent--post .--number4 .--post--image {
  background: url(../image/blog/blog/rightBar/post/post_4.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--tag--clouds {
  grid-area: tag;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 10% 10% 5% 10% 60% 5%;
  grid-template-areas: "empty" "head" "line" "empty1" "tags" "empty2";
}
.main .main--master .--master--right .--tag--clouds h3 {
  grid-area: head;
}
.main .main--master .--master--right .--tag--clouds .--line--black {
  grid-area: line;
}
.main .main--master .--master--right .--tag--clouds .--tag--links {
  grid-area: tags;
}
.main .main--master .--master--right .--tag--clouds .--tag--links a {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border: 1px solid rgba(108, 117, 125, 0.5960784314);
  color: rgba(108, 117, 125, 0.5960784314);
  transition: 0.4s;
  background-color: #fff;
}
.main .main--master .--master--right .--tag--clouds .--tag--links a:hover {
  background: #5AFF80;
  color: #fff;
  border-color: #5AFF80;
  transition: 0.4s;
}
.main .main--master .--master--right .--instagram--feeds {
  grid-area: instagram;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(4, 5%) 75% 5%;
  grid-template-areas: "empty" "head" "line" "empty1" "image" "empty2";
}
.main .main--master .--master--right .--instagram--feeds h3 {
  grid-area: head;
}
.main .main--master .--master--right .--instagram--feeds .--line--black {
  grid-area: line;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image {
  grid-area: image;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image a {
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image1 {
  background: url(../image/blog/blog/rightBar/instagram/post_5.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image2 {
  background: url(../image/blog/blog/rightBar/instagram/post_6.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image3 {
  background: url(../image/blog/blog/rightBar/instagram/post_7.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image4 {
  background: url(../image/blog/blog/rightBar/instagram/post_8.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image5 {
  background: url(../image/blog/blog/rightBar/instagram/post_9.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--instagram--feeds .--instagram--image .--image6 {
  background: url(../image/blog/blog/rightBar/instagram/post_10.jpg.jpg) no-repeat center center;
  background-size: cover;
}
.main .main--master .--master--right .--newsletter {
  grid-area: newsletter;
  padding: 0px 30px;
  background-color: rgba(108, 117, 125, 0.062);
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 5% 10% 5% 15% 20% 5% 20% 20%;
  grid-template-areas: "empty" "head" "line" "empty1" "email" "empty3" "send" "empty2";
}
.main .main--master .--master--right .--newsletter h3 {
  grid-area: head;
}
.main .main--master .--master--right .--newsletter .--line--black {
  grid-area: line;
}
.main .main--master .--master--right .--newsletter input {
  grid-area: email;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid rgba(108, 117, 125, 0.2470588235);
  padding: 10px;
}
.main .main--master .--master--right .--newsletter a {
  grid-area: send;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #5AFF80;
  background-color: #fff;
  color: #5AFF80;
  text-align: center;
  padding: 10px 0px;
  transition: 0.5s;
}
.main .main--master .--master--right .--newsletter a:hover {
  background-color: #5AFF80;
  color: #fff;
  transition: 0.5s;
}

/*footer*/
.foot {
  width: 100%;
  height: 800px;
  background-color: #01FF56;
  position: relative;
}
.foot .foot--master {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 70% 10%;
}
.foot .foot--master .foot--top {
  text-align: center;
}
.foot .foot--master .foot--midd {
  position: relative;
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "send empty contact";
}
.foot .foot--master .foot--midd .--midd--send {
  grid-area: send;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 10% 55% 15% 10%;
  grid-template-areas: "empty1" "text" "form" "send" "empty2";
  position: relative;
}
.foot .foot--master .foot--midd .--midd--send p {
  grid-area: text;
}
.foot .foot--master .foot--midd .--midd--send form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr;
  grid-gap: 20px;
}
.foot .foot--master .foot--midd .--midd--send form input, .foot .foot--master .foot--midd .--midd--send form textarea {
  background: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(108, 117, 125, 0.5137254902);
  color: black;
}
.foot .foot--master .foot--midd .--midd--send button {
  grid-area: send;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 50%;
  height: 65%;
  background: black;
  border: 1px solid #212529;
  padding: 14px 34px;
}
.foot .foot--master .foot--midd .--midd--send button a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.foot .foot--master .foot--midd .--midd--contact {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 10% 20% 20% 5% 15%;
  grid-template-areas: "empty1" "text" "link" "download" "icon" "empty2";
}
.foot .foot--master .foot--midd .--midd--contact .--contact--text {
  grid-area: text;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--link {
  grid-area: link;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.foot .foot--master .foot--midd .--midd--contact .--contact--link a {
  transition: 0.3s;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--link a:hover {
  text-decoration: underline;
  transform: translateX(5px);
  transition: 0.3s;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--download {
  grid-area: download;
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--download button {
  width: 100%;
  height: 60%;
  background: transparent;
  border: 1px solid #212529;
  padding: 22px 34px;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--download button a {
  display: block;
  width: 100%;
  height: 100%;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon {
  grid-area: icon;
  display: grid;
  grid-template-columns: repeat(3, 30%) 10%;
  padding: 10px;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon div {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 1.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.192));
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon div a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  transition: 0.7s;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon div a i {
  transition: 0.7s;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon div a:hover {
  background: black;
}
.foot .foot--master .foot--midd .--midd--contact .--contact--icon div a:hover i {
  transform: rotateY(540deg);
  transition: 0.7s;
}
.foot .foot--master .foot--bottom {
  text-align: center;
}
.foot .foot--master .foot--bottom a {
  text-decoration: underline;
}

/*responsiv*/
/*for main right bar*/
@media (max-width: 1700px) {
  /*main*/
  .main .main--master .--master--right {
    grid-template-rows: 1fr 3fr 2.25fr 1.5fr 1.5fr 1.5fr 8fr;
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 15px 0px;
  }
}
@media (max-width: 1440px) {
  /*main*/
  .main .main--master .--master--right {
    grid-template-rows: 1fr 3fr 2.25fr 2fr 1.5fr 1.5fr 8fr;
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 15px 0px;
  }
}
@media (max-width: 1300px) {
  /*main*/
  .main .main--master .--master--right {
    grid-template-rows: 1fr 3fr 2.75fr 2fr 3fr 1.5fr 8fr;
  }
  .main .main--master .--master--right .--recent--post .--post {
    grid-template-columns: 30% 70%;
  }
  .main .main--master .--master--right .--instagram--feeds {
    grid-template-rows: repeat(4, 5%) 75% 5%;
    grid-template-areas: "empty" "head" "line" "empty1" "image" "empty2";
  }
  .main .main--master .--master--right .--instagram--feeds .--instagram--image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 10px 0px;
  }
}
/*for main left bar*/
@media (max-width: 950px) {
  /*main*/
  .main {
    height: 4100px;
  }
  .main .main--master .--master--right {
    grid-template-rows: 1fr 3fr 2.5fr 2fr 2.75fr 1.5fr 8fr;
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 15px 0px;
  }
}
@media (max-width: 900px) {
  /*header*/
  .head--nav {
    grid-template-columns: 1fr 3fr 8fr 1fr;
  }
  /*footer*/
  .foot .foot--master .foot--midd .--midd--contact {
    grid-template-rows: 10% 10% 23% 17% 2% 18%;
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--download button {
    padding: 20px 0px;
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--icon div {
    width: 40px;
    height: 40px;
    font-size: 1.15rem;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  /*header*/
  .head--nav {
    overflow: hidden;
  }
  .head--nav .--check--ham {
    display: none;
  }
  .head--nav .--check--ham:checked ~ .--nav--menu {
    display: block;
  }
  .head--nav .--nav--menu {
    display: none;
    grid-area: none;
    z-index: 20;
    background-color: blaCK;
  }
  .head--nav .--nav--menu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    z-index: 20;
  }
  .head--nav .--nav--menu ul li {
    border: none;
  }
  .head--nav .--check--label {
    grid-area: menuu;
    display: block;
    font-size: 18px;
    text-align: right;
    position: relative;
    top: 40%;
  }
  /*hero*/
  .hero {
    overflow: hidden;
  }
  .hero .hero--image {
    left: 40%;
  }
  .hero .hero--text {
    top: 50%;
    left: 10%;
  }
  .hero .hero--text .--text1 {
    width: 350px;
  }
  .hero .hero--text .--text2 {
    width: 300px;
  }
  /*main*/
  .main {
    height: 6500px;
  }
  .main .main--master {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 60fr 35fr 1fr;
    grid-template-areas: "empty1" "left" "right" "empty5";
  }
  .main .main--master .--master--right {
    grid-template-rows: 1fr 2fr 6fr 6fr 2fr 6fr 2fr 1fr;
    grid-template-areas: "empty" "search" "category" "recent" "tag" "instagram" "newsletter" "empty2";
  }
  .main .main--master .--master--right .--search a {
    padding: 10px 0px;
  }
  .main .main--master .--master--right .--recent--post .--post {
    grid-template-columns: 15% 85%;
  }
  .main .main--master .--master--right .--instagram--feeds {
    grid-template-rows: repeat(4, 5%) 75% 5%;
    grid-template-areas: "empty" "head" "line" "empty1" "image" "empty2";
  }
  .main .main--master .--master--right .--instagram--feeds .--instagram--image {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 5px 0px;
  }
  /*footer*/
  .foot {
    height: 1400px;
  }
  .foot .foot--master .foot--midd {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 5% 45%;
    grid-template-areas: "send" "empty" "contact";
  }
  .foot .foot--master .foot--midd .--midd--send button {
    padding: 9px 34px;
  }
  .foot .foot--master .foot--midd .--midd--contact {
    width: 50%;
    grid-template-rows: 20% 35% 20% 5%;
    grid-template-areas: "text" "link" "download" "icon";
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--download button {
    padding: 15px;
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--icon {
    grid-template-columns: repeat(3, 31%) 7%;
  }
}
@media (max-width: 640px) {
  /*main*/
  .main .main--master .--master--right {
    grid-template-rows: 1fr 2fr 6fr 6fr 2fr 4.5fr 2fr 1fr;
    grid-template-areas: "empty" "search" "category" "recent" "tag" "instagram" "newsletter" "empty2";
  }
  .main .main--master .--master--right .--recent--post .--post {
    grid-template-columns: 20% 80%;
  }
  .main .main--master .--master--right .--instagram--feeds {
    grid-template-rows: repeat(4, 5%) 75% 5%;
    grid-template-areas: "empty" "head" "line" "empty1" "image" "empty2";
  }
  .main .main--master .--master--right .--instagram--feeds .--instagram--image {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main .main--master .--master--right .--newsletter a {
    padding: 10px 0px;
  }
}
@media (max-width: 520px) {
  /*main*/
  .main .main--master .--master--right {
    grid-template-rows: 1fr 1.5fr 6fr 5fr 2.5fr 3.5fr 2fr 1fr;
  }
}
@media (max-width: 425px) {
  /*hero*/
  .hero {
    overflow: hidden;
  }
  .hero .hero--image {
    display: none;
  }
  .hero .hero--text {
    top: 50%;
    left: 10%;
    width: 100%;
  }
  /*main*/
  .main {
    height: 8000px;
  }
  .main .main--master .--master--right {
    grid-template-rows: 1fr 2fr 6fr 6fr 3.5fr 30fr 3fr 1fr;
  }
  .main .main--master .--master--right .--instagram--feeds {
    grid-template-rows: 1fr 1fr 1fr 1fr 40fr 1fr;
    grid-template-areas: "empty" "head" "line" "empty1" "image" "empty2";
  }
  .main .main--master .--master--right .--instagram--feeds .--instagram--image {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  /*footer*/
  .foot {
    height: 1600px;
  }
  .foot .foot--master .foot--midd {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 5% 45%;
    grid-template-areas: "send" "empty" "contact";
  }
  .foot .foot--master .foot--midd .--midd--send button {
    padding: 14px 34px;
  }
  .foot .foot--master .foot--midd .--midd--contact {
    width: 80%;
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--download button {
    width: 75%;
    height: 65%;
    left: 0%;
    position: absolute;
    padding: 25px 34px;
  }
  .foot .foot--master .foot--midd .--midd--contact .--contact--icon {
    grid-template-columns: repeat(3, 30%) 10%;
  }
}/*# sourceMappingURL=blog.css.map */