// color
$--master--body--hero--color: #5AFF80;
$--master--body--main--color: #01FF56;
$--master--graydark--item: #343a40;
$--master--black--item:#212529;
$--font--black--color: #212529;
$--font--white--color: #fff;
$--font--gray--color: #6c757d83;
$--hover--green: #00e61f;

// font
$--master--font: 'Shippori Mincho B1';
$--information--font: 'Archivo';

// size

// line for level
$--line--level: #5aff818c;

// form
$--form--gray--color: #6c757d3f;

// font gray
$--font--gray: #6c757d98;

// gray bgcolor right bar in blog page
$--bgcolor--blog--gray--color: rgba(108, 117, 125, 0.062);
$--bgcolor--elements--gray--color: #f9f9ff;

// buttons color
$--defult: #F9F9FF;
$--defult--font: #415094;
$--primary:#2845BA;
$--success: #4CD3E3;
$--info: #38A4FF;
$--warning: #F4E700;
$--danger: #F44A40;